# This config was generated for version %VERSION%
# Find the latest config at https://github.com/SilverstoneMC/EntityClearer/blob/main/src/main/resources/config.yml

# This plugin uses bStats metrics
# https://bstats.org/plugin/bukkit/EntityClearer/10915
# Metrics can be disabled in the bStats config.yml



###############################################
#              COUNTDOWN SETTINGS             #
###############################################

# Interval in minutes the clear task should run
# To disable the timer, set the interval to 0 (useful if only using TPS monitoring)
interval: 0

# The sound to play when showing the warnings
# See https://minecraft.wiki/w/Sounds.json#Java_Edition_values:~:text=Java%20Edition%20values-,%5Bshow%5D,-%5Bedit%5D for all sounds
# Set to '' for no sound
sound: 'ui.button.click'

# The sound's pitch played when the timer is counting down
# Valid values are between 0.0-2.0
countdown-pitch: 0.9

# The sound's pitch played when the entites are cleared
# Valid values are between 0.0-2.0
cleared-pitch: 1.0

# Should using the command /ecl clearnow start the countdown or instantly remove the entities?
countdown-on-command: false

# When should the warning messages send?
# Time is in seconds remaining before the clear task
warning-messages:
  - 30
  - 5
  - 4
  - 3
  - 2
  - 1



###############################################
#            WORLDS / ENTITY TYPES            #
###############################################

# The world(s) to check and remove entities from
# You may add as many worlds to this list as you like
worlds:

  # Example 1
  your_world_name: # <- Replace your_world_name with the desired world name or set it to ALL to apply to all worlds (ALL overrides any other worlds below)

    # The entities to be removed from the world
    # See https://jd.papermc.io/paper/1.20/org/bukkit/entity/EntityType.html for all entity types
    #
    # By default, named entities will not be removed
    # Add "-NAMED" to the end of the entity type to also remove named ones
    #
    # By default, occupied vehicles will not be removed
    # Add "-OCCUPIED" to the end of the entity type to also remove occupied ones
    #
    # The above tags can be used together in any order
    #
    # If using the MythicMobs plugin, you may add the mob type prefixed by "MythicMob:" and surrounded in quotation marks
    #
    # Note: You should not be using DROPPED_ITEM in your list as you should use Paper's alternate item despawn rates instead!
    entities:
      - BEE
      - CAVE_SPIDER
      - CHICKEN
      - CREEPER
      - SHEEP
      - SKELETON
      - SLIME
      - SPIDER
      - SQUID-NAMED
      - WOLF
      - ZOMBIE
      #- HORSE-NAMED-OCCUPIED
      #- "MythicMob:SkeletalKnight-NAMED"

    # Should only entities with a specific spawn reason be removed?
    # Setting this to false will check for any spawn reason
    # Note: This only works on Paper and its forks!
    spawn-reason:
      enabled: false
      # See https://jd.papermc.io/paper/1.20/org/bukkit/event/entity/CreatureSpawnEvent.SpawnReason.html for all spawn reasons
      reasons:
        - SPAWNER
        - SPAWNER_EGG

  # Example 2
  your_world_name_nether:
    entities:
      - BLAZE
      - ZOMBIFIED_PIGLIN
    spawn-reason:
      enabled: false
      reasons:
        - SPAWNER
        - SPAWNER_EGG

  # Example 3
  creative:
    entities:
      - ARMOR_STAND
      - ARROW
      - BOAT
      - DROPPED_ITEM
      - MINECART
      - MINECART_CHEST
      - MINECART_FURNACE
      - MINECART_HOPPER
      - MINECART_TNT
    spawn-reason:
      enabled: false
      reasons:
        - SPAWNER
        - SPAWNER_EGG



###############################################
#               REMOVAL SETTINGS              #
###############################################

nearby-entities:
  # Should the plugin only remove entities that have multiple entities nearby?
  # This is useful to only remove large groups of entities while leaving smaller entity groups alone
  # Using this would prevent every entity from being removed then just respawning again naturally
  # It is recommended to leave this feature enabled
  enabled: true

  # Should the plugin only count nearby entities that are also on the remove list?
  # Setting this to false will count ANY nearby entity, including players, XP Orbs, Item Frames, etc
  only-count-from-list: true

  # The distance in blocks that the plugin should check for extra entities
  x: 3
  y: 3
  z: 3
  # How many additional entities must be around the first entity to be removed?
  count: 14

# The command(s) to run after the entity clearing task completes (if successful)
commands:
#  - nuke



###############################################
#                   MESSAGES                  #
###############################################

messages:
  # Set the message to "" to disable it
  # This plugin supports MiniMessage markdown and formatting - see https://docs.advntr.dev/minimessage/format.html

  # Placeholders:
  # {TIMELEFT} - the time remaining before the clear task is run
  # {TIME} - will output "minute(s)" or "second(s)" depending on the time left

  actionbar-message: "<#ff9b0f><bold>Common entities will be removed in <yellow>{TIMELEFT} <#ff9b0f>{TIME}!"
  chat-message: "<red>Common entities will be removed in <gray>{TIMELEFT} <red>{TIME}!"
  
  # Placeholders:
  # {ENTITIES} - the amount of entities removed after the clear task has run
  
  actionbar-completed-message: "<#ff9b0f><bold>Removed <yellow>{ENTITIES} <#ff9b0f>entities!"
  actionbar-completed-low-tps-message: "<#ff9b0f><bold>Removed <yellow>{ENTITIES} <#ff9b0f>entities due to low TPS!"
  chat-completed-message: "<red>Removed <gray>{ENTITIES} <red>entities!"
  chat-completed-low-tps-message: "<red>Removed <gray>{ENTITIES} <red>entities due to low TPS!"



###############################################
#                   LOW TPS                   #
###############################################

low-tps:
  # Should the entity removal task be triggered when the TPS is low?
  enabled: true

  # Below what TPS should the plugin remove the entities?
  threshold: 17

  # Should there be a chat message sent to players with the `entityclearer.lowtps`
  # permission stating that the TPS is low?
  chat: true

  # Placeholders:
  # {TPS} - the current TPS of the server
  chat-message: "<red><bold>Warning: TPS low <dark_gray>(<gray>{TPS}<dark_gray>)<red>! Removing entities..."

  # Should the list of entities to remove be separate from the one defined above?
  separate-entity-list: false

  # This list will not be active unless the above option is true
  worlds:

    # Example 1
    your_world_name: # <- Replace your_world_name with the desired world name or set it to ALL to apply to all worlds (ALL overrides any other worlds below)

      entities:
        - BEE
        - ARMOR_STAND
        - ARROW
        - BOAT
        - CAVE_SPIDER
        - CHICKEN
        - CREEPER
        - FALLING_BLOCK
        - MINECART-OCCUPIED
        - MINECART_CHEST
        - MINECART_FURNACE
        - MINECART_HOPPER
        - MINECART_TNT
        - SHEEP
        - SKELETON
        - SLIME
        - SPIDER
        - SQUID-NAMED
        - WOLF
        - ZOMBIE

      spawn-reason:
        enabled: false
        reasons:
          - SPAWNER
          - SPAWNER_EGG

    # Example 2
    your_world_name_nether:
      entities:
        - BLAZE
        - ARMOR_STAND
        - ARROW
        - BOAT
        - FALLING_BLOCK
        - MINECART
        - MINECART_CHEST
        - MINECART_FURNACE
        - MINECART_HOPPER
        - MINECART_TNT
        - ZOMBIFIED_PIGLIN
      spawn-reason:
        enabled: false
        reasons:
          - SPAWNER
          - SPAWNER_EGG
